
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_HeaderViewComponentPartial")
<body>

    <!--header-->
    @await Component.InvokeAsync("_NavbarViewComponentPartial")
    <!--/header-->
   
    @RenderBody()

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>
